@page "/category"
@page "/category/{PageNumber:int}"

@inject CategoryService categoryServices
@inject NavigationManager _navManager

@*Урок 11 (6)*@
@*@attribute [Authorize(Roles = StaticData.AdminRole)]*@

@*Создаём заголовок и кнопку добавления категорий*@
<div class="container-fluid component-title p-4">
	<div class="row justify-content-between align-items-center">
		<div class="col-5">
			<h1 class="text-info">Category List</h1>
		</div>
		<div class="col-3 text-right">
			<button type="button" @onclick="AddNewCategory" class="btn btn-info form-control">
				Add New Category
			</button>
		</div>
	</div>


	@if (categories is null)
	{
		// Если null, то выводим блок информации о загрузке данных
		<div class="row">
			<div class="col text-center">
				<img src="https://cdn.dribbble.com/users/108183/screenshots/5331825/loading_xxi.gif" height="200" />
			</div>
		</div>
	}
	else if (categories.Count > 0)
	{

		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item @((PageNumber <= 1) ? "disabled" : "")">
					<a class="page-link" href="category/@(PageNumber - 1)" tabindex="-1" aria-disabled="@((PageNumber <= 1) ? "true" : "false")">Previous</a>
				</li>
				@for (int i = 1; i <= pageSize + 1; i++)
				{
					<li class="page-item @((i == PageNumber) ? "active" : "")">
						<a class="page-link" href="category/@i">@i</a>
					</li>
				}
				<li class="page-item @((PageNumber <= totalCount / pageSize) ? "" : "disabled")">
					<a class="page-link" href="category/@(PageNumber + 1)" aria-disabled="@((PageNumber <= totalCount / pageSize) ? "false" : "true")">Next</a>
				</li>
			</ul>
		</nav>

		<div class="row pt-4 table-r">
			<table class="table table-striped">
				<thead class="bg-info">
					<tr>
						<th>Category Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in categories)
					{
						<tr>
							<td>@item.Name</td>
							<td class="text-right">
								<button type="button" @onclick="(() => EditCategory(item))" class="btn btn-primary">Edit</button>
								@*Урок 3 (8)*@
								<button type="button" @onclick="(() => DeleteCategory(item))" class="btn btn-danger">Delete</button>
							</td>
						</tr>
					}
				</tbody>
				<tfoot>
					<tr class="text-right">
						<td></td>
						<td>Category count: @totalCount</td>
					</tr>
				</tfoot>
			</table>
		</div>
	}
	else
	{
		<div class="row">
			<div class="col text-center">
				<img src="https://cdn.dribbble.com/users/1231865/screenshots/11157048/media/bc9427646c632ded563ee076fdc5dfda.jpg?compress=1&resize=800x600" height="200" />
			</div>
		</div>
	}

	@if (showPopUp)
	{
		<div class="modal fade show" tabindex="-1" style="display: block" role="dialog">
			@*Урок 3 (1)*@
			<EditForm Model="@categoryObj" OnValidSubmit="@ValidSubmit">

				<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							@*Урок 3 (6.3)*@
							<h3 class="text-info">@(!categoryObj.Id.Equals(0) ? "Update" : "Create") Category</h3>
							<button type="button" class="close" @onclick="ClosePopUp" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							@*Урок 3 (4)*@
							<DataAnnotationsValidator />
							<ValidationSummary />

							<div class="¨row">
								<div class="col-9">
									<div class="row py-2">
										<div class="col-4">
											Category Name
										</div>
										<div class="col-8">
											<input class="form-control" type="text" @bind="categoryObj.Name" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" @onclick="ClosePopUp" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>

			</EditForm>
		</div>
	}
</div>

@code {
	// Pagination ------------------------------------
	[Parameter] public int PageNumber { get; set; }
	int totalCount;
	int pageSize = 3;
	// -----------------------------------------------

	// Урок 2 (5.1) Создаём лист для хранения категорий
	List<Category> categories;

	Category categoryObj;
	bool showPopUp = false;

	// Урок 2 (5.2) Заполняем лист данными при инициализации компонента
	protected override void OnParametersSet()
	{
		if (PageNumber < 1) PageNumber = 1;
		// Заполняем лист данными с помощью внедрённой зависимости
		categories = categoryServices.GetPagedCategoriesAsync(PageNumber, pageSize, out totalCount);
	}

	void AddNewCategory()
	{
		categoryObj = new();
		// Урок 3 (6.1)
		categoryObj.Id = 0;

		showPopUp = true;
	}

	// Урок 3 (6)
	void EditCategory(Category catForEdit)
	{
		categoryObj = catForEdit;
		showPopUp = true;
	}

	// Урок 3 (8)
	async Task DeleteCategory(Category catForDelete)
	{
		bool result;
		result = await categoryServices.DeleteCategoryAsync(catForDelete);

		if (result)
		{
			// Очищаем список категорий
			categories.Clear();

			// Обновляем список категорий для обновления таблицы
			categories = categoryServices.GetPagedCategoriesAsync(PageNumber, pageSize, out totalCount);
		}
	}

	void ClosePopUp()
	{
		showPopUp = false;
	}

	// Урок 3 (3)
	async Task ValidSubmit()
	{
		// 1 создаём переменную для хранения результата сохранения категории
		bool result;

		// 2 скрываем PopUp
		showPopUp = false;

		// Урок 3 (6.2)
		if (categoryObj.Id.Equals(0))
		{
			// 3 Вызываем метод сохранения и получаем результат
			result = await categoryServices.CreateCategoryAsync(categoryObj);
		}
		else
			result = await categoryServices.UpdateCategoryAsync(categoryObj);


		// 4 Обновляем список категорий
		categories = categoryServices.GetPagedCategoriesAsync(PageNumber, pageSize, out totalCount);
	}
}
