@page "/specialtag"
@page "/specialtag/{PageNumber:int}"

@inject SpecialTagService specialTagServices
@*@attribute [Authorize(Roles = StaticData.AdminRole)]*@

<div class="container-fluid component-title p-4">
    <div class="row justify-content-between align-items-center">
        <div class="col-5">
            <h1 class="text-info">SpecialTag List</h1>
        </div>
        <div class="col-3 text-right">
            <button type="button" @onclick="AddNewSpecialTag" class="btn btn-info form-control">
                Add New Special Tag
            </button>
        </div>
    </div>


    @if (specialTags is null)
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.dribbble.com/users/108183/screenshots/5331825/loading_xxi.gif" height="200" />
            </div>
        </div>
    }
    else if (specialTags.Count > 0)
    {
        <PaginationComp Items="specialTags" PageNumber="PageNumber" TotalCount="totalCount" />
        <div class="row pt-4 table-r">
            <table class="table table-striped">
                <thead class="bg-info">
                    <tr>
                        <th>Special Tag Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in specialTags)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td class="text-right">
                                <button type="button" @onclick="(() => EditSpecialTag(item))" class="btn btn-primary">Edit</button>
                                <button type="button" @onclick="(() => DeleteSpecialTag(item))" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="text-right">
                        <td></td>
                        <td>SpecialTag count: @specialTags.Count</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.dribbble.com/users/1231865/screenshots/11157048/media/bc9427646c632ded563ee076fdc5dfda.jpg?compress=1&resize=800x600" height="200" />
            </div>
        </div>
    }

    @if (showPopUp)
    {
        <div class="modal fade show" tabindex="-1" style="display: block" role="dialog">
            <EditForm Model="@specialTagObj" OnValidSubmit="@ValidSubmit">

                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-info">@(!specialTagObj.Id.Equals(0) ? "Update" : "Create") Special Tag</h3>
                            <button type="button" class="close" @onclick="ClosePopUp" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="¨row">
                                <div class="col-9">
                                    <div class="row py-2">
                                        <div class="col-4">
                                            SpecialTag Name
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control" type="text" @bind="specialTagObj.Name" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" @onclick="ClosePopUp" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>

            </EditForm>
        </div>
    }
</div>

@code {
    [Parameter] public int PageNumber { get; set; }

    List<SpecialTag> specialTags;
    SpecialTag specialTagObj = new();
    bool showPopUp = false;
    int totalCount;

    protected override void OnParametersSet()
    {
        if (PageNumber <= 0)
            PageNumber = 1;

        specialTags = specialTagServices.GetPagedSpecialTagsAsync(PageNumber, 3, out totalCount);
    }

    void AddNewSpecialTag()
    {
        specialTagObj = new();
        specialTagObj.Id = 0;
        showPopUp = true;
    }

    void EditSpecialTag(SpecialTag catForEdit)
    {
        specialTagObj = catForEdit;
        showPopUp = true;
    }

    async Task DeleteSpecialTag(SpecialTag catForDelete)
    {
        var result = false;
        result = await specialTagServices.DeleteSpecialTagAsync(catForDelete);

        specialTags.Clear();
        specialTags = specialTagServices.GetPagedSpecialTagsAsync(PageNumber, 3, out totalCount);
    }

    void ClosePopUp()
    {
        showPopUp = false;
    }

    async Task ValidSubmit()
    {
        var result = false;
        showPopUp = false;

        if (specialTagObj.Id.Equals(0))
        {
            result = await specialTagServices.CreateSpecialTagAsync(specialTagObj);
        }
        else
            result = await specialTagServices.UpdateSpecialTagAsync(specialTagObj);

        specialTags = specialTagServices.GetPagedSpecialTagsAsync(PageNumber, 3, out totalCount);
    }
}
