<Title Value="@title"></Title>
<Meta name="description" content="@description" />

<div class="details-container">
    <div class="product-details">
        <div class="product-details-photo">
            <div class="photo-container">
                <div>
                    <img class="img-details" src="@OnCurrentProduct.Image.ImageToDisplayConverter()" alt="product image">
                </div>
            </div>
        </div>
        <div class="product-info">
            <div>
                <h1 class="product-header-name">@OnCurrentProduct.Name</h1>
                <hr />
                <span class="span-details text-warning">PRODUCT ID: @OnCurrentProduct.Id</span>
            </div>
            <div class="description-details">
                <h3 class="text-uppercase h3-details font-weight-bold">Category:</h3>
                <p class="text-warning">@OnCurrentProduct.Category.Name</p>

                <h3 class="text-uppercase h3-details font-weight-bold">Special Tag:</h3>
                <p class="text-warning">@OnCurrentProduct.SpecialTag.Name</p>

                @if (!string.IsNullOrWhiteSpace(OnCurrentProduct.Description))
                {
                    <h3 class="text-uppercase h3-details font-weight-bold">Description:</h3>
                    <p class="text-warning">@OnCurrentProduct.Description</p>
                }
            </div>
            <div class="price-details mb-11">
                <span class="span-details text-uppercase badge badge-success">Price:  @OnCurrentProduct.Price €</span>
            </div>
            <div class="btn-group">
                <NavLink class="btn btn-danger btn-lg" href="/"><i class="fa-solid fa-arrow-left"></i></NavLink>
                <button class="btn btn-success btn-lg" @onclick="OnAddToCart"><i class="fa-solid fa-cart-plus"></i></button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public Appointment Appointment { get; set; }
    [Parameter] public EventCallback OnAddToCart { get; set; }

    [Parameter] public Product OnCurrentProduct { get; set; }

    string title;
    string description;

    protected override void OnInitialized()
    {
        title = $"{OnCurrentProduct.Name} - My Perfect Shop";
        description = "This is simple description for testing";
    }
}
