@*Дополнительный урок по внедрению метаданных 1/1*@
@*Внедряем ключевые компоненты для метоописания страницы*@
@*Add a package reference to the Microsoft.AspNetCore.Components.Web.Extensions package (Install-Package Microsoft.AspNetCore.Components.Web.Extensions -Version 5.0.0-preview9.20513.1)
Include the following script tag <script src="_content/Microsoft.AspNetCore.Components.Web.Extensions/headManager.js"></script>
Add a @using directive for Microsoft.AspNetCore.Components.Web.Extensions.Head*@

<Title Value="@title"></Title> 
<Meta name="description" content="@description" />
@*<Link rel="icon" type="image/x-icon" href="/favicon.ico" />*@


@* ---------------------------------------------------- *@

<div class="row p-4 border rounded">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-4">
                Name:
            </div>
            <div class="col-8">
                <input Value="@OnCurrentProduct.Name" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                Shade Color:
            </div>
            <div class="col-8">
                <input Value="@OnCurrentProduct.ShadeColor" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                Price:
            </div>
            <div class="col-8">
                <input Value="@OnCurrentProduct.Price.ToString()" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                Category Name:
            </div>
            <div class="col-8">
                <input Value="@OnCurrentProduct.Category.Name" class="form-control" readonly />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">

            </div>
            <div class="col-4">
                <a href="/" class="btn btn-success form-control">Back to list</a>
            </div>
            <div class="col-4">
                <button @onclick="OnAddToCart" class="btn btn-primary form-control">Add To Cart</button>
            </div>
        </div>
    </div>
    <div class="col-3 offset-1 mb-1">
        <img src="@OnCurrentProduct.Image.ImageToDisplayConverter()" class="img-fluid img-thumbnail" />
    </div>
</div>


@code {
    [Parameter] public Appointment Appointment { get; set; }
    [Parameter] public EventCallback OnAddToCart { get; set; }

    [Parameter] public Product OnCurrentProduct { get; set; }

    string title;
    string description;

    protected override void OnInitialized()
    {
        title = $"{OnCurrentProduct.Name} - My Perfect Shop";
        description = "This is simple description for testing";
    }
}
